.grid-xp {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px 0px;
  margin: 50px;
}

.experiencia {
  grid-row: 2 / 5;
  font-size: 8.1rem;
  word-wrap: break-word;
  text-transform: uppercase;
  line-height: 130px;
  color: gray;
  opacity: 0.3;
  max-width: 320px;
}

.apresentacao {
  grid-column: 2;
  color: rgb(79, 76, 76);
  font-size: 1.5rem;
  align-self: center;
  margin-bottom: 20px;
  max-width: 550px;
}

.apresentacao strong {
  color: black;
}

.empresa {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(164, 164, 164, 0.16);
  padding: 20px;
  position: relative;
}

.empresa h3 {
  margin-bottom: 10px;
}

.empresa p {
  color: rgb(79, 76, 76);
}

.empresa::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 4px;
  background: linear-gradient(#b6f829, #67dd0a);
  left: -2px;
  top: 23px;
}

.empresa-ano {
  position: absolute;
  display: inline-block;
  left: -70px;
  top: 23px;
  color: #747474;
  font-weight: 400;
  width: 60px;
  text-align: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  padding: 0px;
}

.flex li {
  background-color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

@media (max-width: 1070px) {
  .grid-xp {
    grid-template-columns: 1fr;
    gap: 10px 0px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin: 0px 20px 50px;
  }
  .apresentacao {
    color: rgb(79, 76, 76);
    font-size: 1.5rem;
    align-self: center;
    margin: 20px 0px 20px 5px;
  }
  .empresa-ano {
    left: 20px;
    top: 2px;
    text-align: left;
  }
  .empresa {
    grid-column: 2;
    margin: 0px;
    padding: 20px;
    gap: 20px;
  }
  .experiencia {
    display: none;
  }
}
