.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
  margin-bottom: 70px;
}

.flex-header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
  padding: 0px;
}

.flex-header a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

@media (max-width: 1070px) {
  .header {
    flex-direction: column;
  }
  .flex-header {
    justify-content: center;
    margin-top: 30px;
  }
  .header {
    margin: 30px 0px;
    margin-bottom: 50px;
  }
  .header img {
    justify-self: center;
    align-self: center;
  }
}
